.userCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  align-items: center;
  padding: 10px;
  background-color: #ddd;
  border: 2px solid #ccc;
  border-radius: 8px;
  width: 400px;
  min-height: 400px;
}

.userCard:hover {
  box-shadow: 0 0 20px 5px #0003;
}

.userCard img {
  border-radius: 8px;
}

.title {
  font-size: 24px;
  font-weight: bold;
}

.text {
  font-size: 16px;
}

@media (prefers-color-scheme: dark) {
  .userCard {
    background-color: #222;
    border-color: #333;
  }

  .userCard:hover {
    box-shadow: 0 0 20px 5px #fff3;
  }
}
